div
    br
    a.btn.btn-block.btn-info(href="/profile/" + user.username) My profile
    a.btn.btn-block.btn-info(href="/articles/" + user.username) My articles
    a.btn.btn-block.btn-info(href="/dialogs") My dialogs
    a.btn.btn-block.btn-info(href="/favorite/users/" + user.username) My favorite users
    a.btn.btn-block.btn-info(href="/settings") My settings
    a.btn.btn-block.btn-info(href="/") Main page
    a.btn.btn-block.btn-info(href="/logout") Logout