include ../basic/head
    title= 'Error ' + err + ' | Social network'
body
    div.text-center
        h1.h1= message
        span.h2.text-danger= ' ' + err
        div.btn-group-vertical
            if user
                a.btn.btn-default.btn-success(href="/profile/" + user.username) Back to my profile
            a.btn.btn-default(href="/") << Go to main page >>